{% extends 'lxd/base.html' %}

{% block content %}
<h1>{{ container.name }}</h1>

<a href="{% url 'instance_start' container_name=container.name %}">Start</a>
<a href="{% url 'instance_stop' container_name=container.name %}">Stop</a>
<a href="{% url 'instance_restart' container_name=container.name %}">Restart</a>
<a href="{% url 'instance_suspend' container_name=container.name %}">Suspend</a>
<a href="{% url 'instance_resume' container_name=container.name %}">Resume</a>
<ul>
    <li><strong>Architecture:</strong> {{ container.architecture }}</li>
    <li><strong>Status:</strong> {{ container.status }}</li>
    {% if container.description|length > 0 %}
    <li><strong>Description:</strong> {{ container.description }}</li>
    {% else %}
    <li><strong>Description:</strong> None</li>
    {% endif %}
    <li><strong>Created at:</strong> {{ container.created_at }}</li>

    <strong>Image:</strong>
    <ul>
        <li><strong>Image architecture:</strong> {{ image_architecture }}</li>
        <li><strong>Image description:</strong> {{ image_description }}</li>
        <li><strong>Image os:</strong> {{ image_os }}</li>
        <li><strong>Image release:</strong> {{ image_release }}</li>
        <li><strong>Image serial:</strong> {{ image_serial }}</li>
        <li><strong>Image type:</strong> {{ image_type }}</li>
    </ul>


    {% if container.status == "Running"%}
    <strong>Memory:</strong>
    <ul>
        {% if memory_usage %}
        <li><strong>Memory usage:</strong> {{ memory_usage }}</li>
        {% endif %}
        {% if memory_usage_peak %}
        <li><strong>Memory usage peak:</strong> {{ memory_usage_peak }}</li>
        {% endif %}
        {% if memory_swap_usage %}
        <li><strong>Swap usage:</strong> {{ memory_swap_usage }}</li>
        {% endif %}
        {% if memory_swap_usage_peak %}
        <li><strong>Swap usage peak:</strong> {{ memory_swap_usage_peak }}</li>
        {% endif %}
    </ul>

    <strong>Network:</strong>
    <ul>
        {% if network_ipv4_address %}
        <li><strong>IPv4 Address:</strong> {{ network_ipv4_address }}</li>
        {% endif %}
        {% if network_ipv4_netmask %}
        <li><strong>IPv4 Netmask:</strong> {{ network_ipv4_netmask }}</li>
        {% endif %}
        {% if network_ipv4_scope %}
        <li><strong>IPv4 Scope:</strong> {{ network_ipv4_scope }}</li>
        {% endif %}
        {% if network_ipv6_address %}
        <li><strong>IPv6 Address:</strong> {{ network_ipv6_address }}</li>
        {% endif %}
        {% if network_ipv6_netmask %}
        <li><strong>IPv6 Netmask:</strong> {{ network_ipv6_netmask }}</li>
        {% endif %}
        {% if network_ipv6_netmask %}
        <li><strong>IPv6 Scope:</strong> {{ network_ipv6_scope }}</li>
        {% endif %}
        {% if network_bytes_received %}
        <li><strong>Received:</strong> {{ network_bytes_received }}</li>
        {% endif %}
        {% if network_bytes_sent %}
        <li><strong>Sent:</strong> {{ network_bytes_sent }}</li>
        {% endif %}
        {% if network_packets_received %}
        <li><strong>Packets received:</strong> {{ network_packets_received }}</li>
        {% endif %}
        {% if network_packets_sent %}
        <li><strong>Packets sent:</strong> {{ network_packets_sent }}</li>
        {% endif %}
        {% if network_hwaddr %}
        <li><strong>HWaddr:</strong> {{ network_hwaddr }}</li>
        {% endif %}
        {% if network_host_name %}
        <li><strong>Host name:</strong> {{ network_host_name }}</li>
        {% endif %}
        {% if network_mtu %}
        <li><strong>MTU:</strong> {{ network_mtu }}</li>
        {% endif %}
        {% if network_state %}
        <li><strong>State:</strong> {{ network_state }}</li>
        {% endif %}
        {% if network_type %}
        <li><strong>Type:</strong> {{ network_type }}</li>
        {% endif %}
    </ul>
    {% else %}
    <i>Fun fact: container needs to be running to see network information</i>
    {% endif %}

    {% if root_disk_usage %}
    <li><strong>Root disk usage:</strong> {{ root_disk_usage }}</li>
    {% endif %}


    {% if cpu_usage %}
    <li><strong>CPU usage:</strong> {{ cpu_usage }}%</li>
    {% endif %}

</ul>
{% endblock %}
