{% extends 'lxd/base.html' %}

{% block content %}
<h1>{{ container.name }}</h1>

<a href="{% url 'instance_start' container_name=container.name %}">Start</a>
<a href="{% url 'instance_stop' container_name=container.name %}">Stop</a>
<a href="{% url 'instance_restart' container_name=container.name %}">Restart</a>
<a href="{% url 'instance_freeze' container_name=container.name %}">Freeze</a>
<a href="{% url 'instance_unfreeze' container_name=container.name %}">Unfreeze</a>

<li><strong>Architecture:</strong> {{ container.architecture }}</li>
<li><strong>Status:</strong> {{ container.status }}</li>
<li><strong>Description:</strong> {{ container.description }}</li>
<li><strong>Created at:</strong> {{ container.created_at }}</li>

<li><strong>Image architecture:</strong> {{ image_architecture }}</li>
<li><strong>Image description:</strong> {{ image_description }}</li>
<li><strong>Image os:</strong> {{ image_os }}</li>
<li><strong>Image release:</strong> {{ image_release }}</li>
<li><strong>Image serial:</strong> {{ image_serial }}</li>
<li><strong>Image type:</strong> {{ image_type }}</li>
{% endblock %}
