{% extends 'lxd/base.html' %}

{% block content %}
<h1>{{ container.name }}</h1>
<li><strong>Architecture:</strong> {{ container.architecture }}</li>
<li><strong>Status:</strong> {{ container.status }}</li>
<li><strong>Description:</strong> {{ container.description }}</li>
<li><strong>Created at:</strong> {{ container.created_at }}</li>

<li><strong>Image architecture:</strong> {{ image_architecture }}</li>
<li><strong>Image description:</strong> {{ image_description }}</li>
<li><strong>Image os:</strong> {{ image_os }}</li>
<li><strong>Image release:</strong> {{ image_release }}</li>
<li><strong>Image serial:</strong> {{ image_serial }}</li>
<li><strong>Image type:</strong> {{ image_type }}</li>
<li><strong>Image variant:</strong> {{ image_variant }}</li>

<li><strong>Volatile base image:</strong> {{ volatile_base_image }}</li>
<li><strong>Volatile eth0 hwaddr:</strong> {{ volatile_eth0_hwaddr }}</li>
<li><strong>Volatile idmap base:</strong> {{ volatile_idmap_base }}</li>
<li><strong>Volatile idmap current:</strong> {{ volatile_idmap_current }}</li>
<li><strong>Volatile idmap next:</strong> {{ volatile_idmap_next }}</li>
<li><strong>Volatile last state idmap:</strong> {{ volatile_last_state_idmap }}</li>
<li><strong>Volatile laste state power:</strong> {{ volatile_last_state_power }}</li>
<li><strong>Volatile uuid:</strong> {{ volatile_uuid }}</li>
{% endblock %}
