{% extends 'lxd/base.html' %}

{% block content %}
<h1>{{ image.properties.os }} ({{ image.properties.release }}) - {{ image.filename }} - {{ image.fingerprint }}</h1>

<h3>Image attributes</h3>
{% for alias in image.aliases %}
<li><strong>Alias {{ forloop.counter }}</strong>: {{ alias }}</li>
{% endfor %}
<li><strong>Auto update:</strong> {{ image.auto_update }}</li>
<li><strong>Architecture:</strong> {{ image.architecture }}</li>
<li><strong>Cached:</strong> {{ image.cached }}</li>
<li><strong>Created at:</strong> {{ image.created_at }}</li>
<li><strong>Dirty:</strong> {{ image.dirty }}</li>
<li><strong>Expires at:</strong> {{ image.expires_at }}</li>
<li><strong>Filename:</strong> {{ image.filename }}</li>
<li><strong>Fingerprint:</strong> {{ image.fingerprint }}</li>
<li><strong>Last used at:</strong> {{ image.last_used_at }}</li>
<li><strong>Public:</strong> {{ image.public }}</li>
<li><strong>Size:</strong> {{ image.size }} bytes</li>
<li><strong>Uploaded at:</strong> {{ image.uploaded_at }}</li>
<li><strong>Update source alias:</strong> {{ image.update_source.alias }}</li>
<li><strong>Update source certificate:</strong> {{ image.update_source.certificate }}</li>
<li><strong>Update source protocol:</strong> {{ image.update_source.protocol }}</li>
<li><strong>Update source server:</strong> {{ image.update_source.server }}</li>
<li><strong>Update source image type:</strong> {{ image.update_source.image_type }}</li>

<h3>Image properties</h3>
<li><strong>Architecture:</strong> {{ image.properties.architecture }}</li>
<li><strong>Description:</strong> {{ image.properties.description }}</li>
<li><strong>OS:</strong> {{ image.properties.os }}</li>
<li><strong>Release:</strong> {{ image.properties.release }}</li>
<li><strong>Serial:</strong> {{ image.properties.serial }}</li>
<li><strong>Type:</strong> {{ image.properties.type }}</li>
<li><strong>Variant:</strong> {{ image.properties.variant }}</li>
{% endblock %}
