{% extends 'lxd/base.html' %}

{% block content %}
<h1>{{ project.name }}</h1>

<h3>Profile attributes</h3>
{% if project.description|length > 0 %}
<li><strong>Description:</strong> {{ project.description }}</li>
{% else %}
<li><strong>Description:</strong> None</li>
{% endif %}

<li><strong>Used by:</strong></li>
<ul>
    {% for container in project.used_by %}
    <li>{{ container }}</li>
    {% endfor %}
</ul>

<li><strong>Features images:</strong> {{ features_images }}</li>
<li><strong>Features networks:</strong> {{ features_networks }}</li>
<li><strong>Features profiles:</strong> {{ features_profiles }}</li>
<li><strong>Features storage volumes:</strong> {{ features_storage_volumes }}</li>


{% endblock %}
