{% extends 'lxd/base.html' %}

{% block content %}
<strong>Access the containers by name on the host</strong><br>
Taken from archlinux.org (<a
    href="https://wiki.archlinux.org/title/LXD#Access_the_containers_by_name_on_the_host">https://wiki.archlinux.org/title/LXD#Access_the_containers_by_name_on_the_host</a>)<br>
<br>
Create a /etc/systemd/network/lxd.network that contains (replace x and y to match your bridge IP):
<br>
<pre>
    [Match]
    Name=lxdbr0
    [Network]
    DNS=10.x.y.1
    Domains=~lxd
    IgnoreCarrierLoss=yes
    [Address]
    Address=10.x.y.1/24
    Gateway=10.x.y.1
</pre>
And then <span title="sudo systemctl enable systemd-networkd.service">enable</span> and <span
    title="sudo systemctl start systemd-networkd.service">start</span> systemd-networkd.service. <br>

{% endblock %}
